<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% block stylesheets %}
           
       {% endblock %}
    </head>
    <body>
        <div id="app">
        {% block body %}{% endblock %}
        </div>

        
        <script src="{{ asset('build/js/app.js') }}"></script>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
